body {
  background-color: #037459;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Componente Login: */

.divLogin {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}

input {
  margin: 7px;
}

footer {
  position:absolute;
  bottom:0;
  height:30px;
  margin-left: -130px;
}

.submitLogin, .searchButton, .updateButton {
  width: 100px;
  height: 34px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submitLogin:hover, .searchButton:hover, .updateButton:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* Componente Header */

.header {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27c083;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  height: 36px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.name {
  margin-right: 20px;
  margin-top: 12px;
}

/* Componente Search */
.divSearch {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

/* Componente ListAlbums */

.result {
  text-align: center;
}

.listAlbums {
  margin-left: 100px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.img {
  width: 130px;
  transition: all .3s ease-in-out; 
}

.img:hover {
  transform: scale(1.1)
}

.album {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.album a {
  color: #3edb9c;
}

/* Componente Album */

ul {
  list-style-type: none;
}

.divAlbum {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav {
  display: flex;
  flex-direction: column;
}

.labelFav {
  margin-top: 15px;
}

/* Componente Favorites */

.titleFavs {
  margin-top: 100px;
  text-align: center;
}

.divFavorites {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songFav {
  display: flex;
  flex-direction: column;
}

.songName {
  margin: 0;
}

.checkedFav {
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Componente Profile */

.divProfile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  line-height: 0.9;
}

.divProfile a {
  color: #3edb9c;
}

.imgProfile {
  width: 200px;
  margin-top: 20px;
}

/* Componente ProfileEdit */

.imgProfile2 {
  width: 200px;
  margin-top: 20px;
  margin-left: 30px;
}

.editProfile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formEdit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: stretch;
}

.divButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
  align-items: center;
}