



/* Componente ListAlbums */

.result {
  text-align: center;
}

.listAlbums {
  margin-left: 100px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.img {
  width: 130px;
  transition: all .3s ease-in-out; 
}

.img:hover {
  transform: scale(1.1)
}

.album {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.album a {
  color: #3edb9c;
}

/* Componente Album */

ul {
  list-style-type: none;
}

.divAlbum {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav {
  display: flex;
  flex-direction: column;
}

.labelFav {
  margin-top: 15px;
}

/* Componente Favorites */

.titleFavs {
  margin-top: 100px;
  text-align: center;
}

.divFavorites {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songFav {
  display: flex;
  flex-direction: column;
}

.songName {
  margin: 0;
}

.checkedFav {
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Componente Profile */

.divProfile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  line-height: 0.9;
}

.divProfile a {
  color: #3edb9c;
}

.imgProfile {
  width: 200px;
  margin-top: 20px;
}

/* Componente ProfileEdit */

.imgProfile2 {
  width: 200px;
  margin-top: 20px;
  margin-left: 30px;
}

.editProfile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formEdit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: stretch;
}

.divButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
  align-items: center;
}